/*RESET*/
body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: rgb(254, 253, 255);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
}

/*GENERAL*/
:root {
    --manrope-300: 300;
    --manrope-400: 400;
    --manrope-500: 500;
    --manrope-600: 600;
    --manrope-700: 700;
    --manrope-800: 800;
    --lilac: hsl(300, 32%, 69%);

}

/*NAVBAR*/
.publicidad {
    background-color: hsla(300, 29%, 78%, 0.596);
    color: rgb(29, 27, 27);
}

.max-w {
    max-width: 1300px !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: var(--manrope-700);
    text-transform: uppercase;
    color: var(--lilac);
}

.nav-item {
    font-weight: var(--manrope-500);
}

/*Páginas:*/
/*INICIO*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 70vh !important;
}

.clothing-banner {
    background: linear-gradient(to top, #3c3c3f57, #2f2e3052), url(https://i.pinimg.com/originals/e0/0b/96/e00b9677b92d39867cf1bcbe0308a9c0.jpg) top no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;

    display: grid;
    place-content: center;
}

.link-banner {
    text-decoration: none;
}

.container-categorias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding-bottom: 60px;
    border-bottom: 1px solid var(--bs-border-color);
}

.link-categoria {
    display: block;
    width: 100%;
    max-width: 350px;
    height: 350px;
    text-decoration: none;
}

.img-categoria {
    height: 100%;
    display: grid;
    place-content: center;
}

#img-1 {
    background: linear-gradient(to top, #3c3c3f42, #2f2e3059), url(../img/productos/pollera-margo.webp) center no-repeat;
    background-size: cover;
}

#img-2 {
    background: linear-gradient(to top, #3c3c3f42, #2f2e3059), url(../img/productos/chaleco-arena.webp) center no-repeat;
    background-size: cover;
}

#img-3 {
    background: linear-gradient(to top, #3c3c3f42, #2f2e3059), url(../img/productos/campera-boston.webp) center no-repeat;
    background-size: cover;
}

.text-categoria {
    color: #fafafa;
    text-decoration: none;
}

.container-pastillas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 60px 0 40px 0;
    gap: 30px;
}

.pastilla {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.pastilla:nth-child(1):before {
    content: url(../img/icons/envios.svg);
}

.pastilla:nth-child(2):before {
    content: url(../img/icons/soporte.svg);
}

.pastilla:nth-child(3):before {
    content: url(../img/icons/devolucion.svg);
}

.pastilla:nth-child(4):before {
    content: url(../img/icons/ofertas.svg);
}

@media (min-width: 992px) {
    .container {
        padding: 0 2rem 0 2rem;
        min-height: 70vh !important;
    }

    .container-categorias {
        flex-direction: row;
        align-items: start;
    }

    .container-pastillas {
        justify-content: space-between;
    }
}

.h1 {
    font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
    font-weight: var(--manrope-700);
    line-height: 1.2;
}

/*ABOUT*/
.about {
    padding: 0 1rem;
    margin: 2rem 0 0 0;
}

.about>div {
    max-width: 60ch;
}

.imagen {
    width: 100%;
    max-width: 570px;
    height: 570px;
    object-fit: cover;
}


/*CATÁLOGO*/
.h1-catalogo {
    text-align: left;
}

.fw-subtitulo {
    font-weight: var(--manrope-600);
    color: var(--lilac) !important;
}

.h2-card {
    font-weight: var(--manrope-700);
}

.lilac-text {
    color: var(--lilac);
}

.img-producto {
    object-fit: cover;
    height: 100%;
}

.btn:hover {
    color: #fafafa;
}

/*.contenedor-productos{
   display: grid;
}*/

@media (max-width: 992px) {
    .h1-catalogo {
        text-align: center;
    }

    .contenedor-productos>div>div {
        margin: 0 auto;
    }

    .contenedor-productos .card {
        margin: 0 auto;
    }
}


/* DETAIL PAGE */
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;

    max-width: 100%;
}

.img-product {
    max-width: 100%;
    height: auto;
}

.fs-7 {
    font-size: 0.875rem;
}

.fs-8 {
    font-size: 1.15rem;
}

@media (min-width: 992px) {
    .product-container {
        flex-direction: row;
    }

    .product-info {
        max-width: 45%;
    }

    .img-product {
        max-width: 45%;

    }
}